<%- include('../partials/_htmlhead') %>
<title><%= recipe.name %></title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <h1><%= recipe.name %></h1>
    <h2>by <%= recipe.owner.username %></h2>
    <br>

    <% if (editPrivilege) { %>
    <a href="/recipes/<%= recipe._id %>/edit"><input type="button" value="Edit <%= recipe.name %>"></a>
    <br><br>
    <% }; %>
    <ul>
        <li>Ingredients:
            <ul>
                <% recipe.ingredients.forEach(ingredient => { %>
                    <li><%= ingredient.name %></li>
                <% }); %>
            </ul>
        </li>
        <li>Instructions: <%= recipe.instructions %></li>
    </ul>

    <br><br>
    <% if (editPrivilege) { %>
    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= recipe.name %></button>
    </form>
    <% }; %>
</body>

</html>